body {
  margin: 0;
  font-family: Arial;
  background: #f0f0f0;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.filtro {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}